body {
  font-size: 20px;
    font-family: Roboto;
}

div {
  background-color: red;
  color: white;
  /*margin: 1%;*/
}


/*navi bar*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: Patua One;
}

#title {
  float: left;
}
#refresh{
  float: right;
  color: palegreen;
  margin: auto;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*clearfix setup*/

.clearfix {
  background-color: white;

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/*column setup*/

.column {
  margin: 1%;
  float: left;
  padding: 1%;
  width: 21%;

}

h2{
  padding-top: none;
  margin: 0;
  text-align: center;
  font-family: Roboto;
}

h4{
  font-size: 0.8em;
  margin: 0;
}
p{
  font-size: 0.8em;
}
a{
  text-decoration: none;
  color: white;
}
article:hover {
  background-color: green;
}

/*article layout*/
article{
  border: solid;
  padding: 2%;
}
/*h3{
  font-family:
}*/

/*menu layout*/


/*responsive media*/


/*@media(max-width: 850px) {
  .menu {
    margin: auto;
    width: 75%;
    font-size: 1.3em;
  }
  .info {
    width: 90%;
    font-size: 1.3em;
  }
  .column {
      float:none;
      /*padding: 15px;*/


/*}

}
@media(max-width: 1030px) {
  .menu {
    margin: auto;
    width: 55%;
    font-size: 1.2em;
  }
  .info {
    width: 95%;
    font-size: 1.2em;
  }
  .column {
      float:none;
      padding: 15px;
  }

}*/

*/
