body {
  font-size: 20px;
  font-family: Roboto;
  background: url("brick2.jpg");
  background-size: cover;
  padding: 0px;
  margin: 0;
}

/*navi bar*/
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  font-size: 1.5em;
  font-family: Lalezar;
  top: 0;
  width: 100%;
  border: 0px;
}
#title {
  float: left;
  /*width: 80%;*/
}
#refresh{
  float: right;
  color: palegreen;
  /*margin: auto;*/
  /*width: 20%;*/
}
#test{
  color: wheat;
  float: left;
  padding: 1.5%;
  font-family:covered by your grace;
  /*text-align: center;*/
  font-size: 0.8em;
  /*width: 90%;*/
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}

/*colum styling*/
.column {
  margin: 1%;
  float: left;
  padding: 1%;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
  width: 46%;
}

.column1,.column2{
  /*margin: 1%;*/
  float: left;
  /*padding: 1%;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;*/
}

/*font styling*/
h2{
  padding-top: none;
  margin: 0;
  text-align: center;
  font-family: Lalezar;
}
h3{
  font-family:Patua One;
}
h4{
  font-size: 0.8em;
  margin: 0;
}
p{
  font-size: 0.8em;
}

/*footer*/
footer {
  /*list-style-type: none;*/
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #222;
  color: white;
  font-size: 1em;
  text-align: right;
  font-family: Lalezar;
  top: 0;
  width: 100%;
  border: 0px;
}
footer a{
  color: white;
}
footer p{
  margin: 0.5%;
}
/*clearfix setup*/
.clearfix{
  margin: 1%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

a{
  text-decoration: none;
  color: black;
}
article:hover {
  background-color: #444;
  color: white !important;
}
article:hover h4, article:hover p {
  /*background-color: black;*/
  color: white !important;
}
/*article layout*/
article{
  border-top: solid;
  /*border-bottom: solid;*/
  border-width: thick;
  border-color: #444;
  padding: 2%;

}
/*responsive media*/

@media(max-width: 3000px) {
  .column1,.column2 {
    width: 50%;
  }
}

@media(max-width: 1000px) {
  .column1,.column2  {
    width: 100%;
  }
  #cenLeftArt, #rightArt{
    float: right;
  }
}
